<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WTLibrary - Home</title>
</head>
<body>
    <header></header>
    <section class="catalog">
        <% for (var book of books) { %>
            <article>
                <img src="<%= book.coverImageUrl%>" alt="Cover image of <%= book.title %>">
                <h4><%= book.title %></h4>
                <p>by <%= book.author.alias ? book.author.alias : book.author.first_name + " " + book.author.last_name %></p>
            </article>
        <% } %>
    </section>
    <footer></footer>
</body>
</html>
