<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WTLibrary - Home</title>
</head>
<body>
    <header></header>
    <section class="catalog">
        <% for (var entry of page) { %>
            <article>
                <img src="<%= entry[0].coverImageUrl%>" alt="Cover image of <%= entry[0].title %>">
                <h4><%= entry[0].title %></h4>
                <p>by <%= entry[1] %></p>
            </article>
        <% } %>
    </section>
    <footer></footer>
</body>
</html>
