body {
    font-family: "Open Sans", sans-serif;
    padding-bottom: 2rem;
}

i {
    padding-left: 10px;
    padding-right: 10px;
}

main {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    img {
        /* h1 = 2em; so h1 + 1em */
        height: 3em;
    }
    h1 {
        margin: 2rem 0;
        a {
            text-decoration: none;
            color: black;
        }
    }

    a.auth-link {
        margin-left: 1rem;
        color: black;
        text-decoration: none;
    }
}

label {
    margin-top: 0.6rem;
    display: block;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 14px 20px;
    margin: 0.6rem 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #344340;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

input[type=submit]:hover {
    background-color: #293633;
}

@media screen and (max-width: calc(400px + 4rem)) {
    main {
        left: 0;
        width: calc(100% - 4rem);
        transform: translateY(-55%);
        padding: 0 2rem;
    }
}
