/*
    File: global.css
    Role: Defines global styles for the entire website, including body, headers, and main content.
    Functionality: Provides CSS rules for layout, typography, and responsiveness.
    Structure:
        - Defines body styles, including font family and margin.
        - Styles for icons.
        - Styles for header section, including logo, navigation, and hamburger menu.
        - Styles for main content section, including width and positioning.
        - Media queries for responsive design adjustments.
*/

/* Body styles */
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

/* Icon styles */
i {
    padding-left: 10px;
    padding-right: 10px;
}

/* Header styles */
header {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

/* Logo styles */
header img {
    height: 3em; /* h1 = 2em; so h1 + 1em */
}

/* Title styles */
header h1 {
    margin-right: auto;
}

/* Anchor styles */
header a {
    text-decoration: none;
    color: black;
}

/* Authentication link styles */
a.auth-link {
    margin-left: 1rem;
}

/* Hamburger icon styles */
#hamburger-icon {
    display: none;
    font-size: 1.7rem;
}

/* Hamburger menu styles */
#hamburger-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 68px;
    list-style-type: none;
    padding: 0 2rem;
    background-color: white;
    width: 100%;
    user-select: none;
}

/* Hamburger menu item styles */
#hamburger-menu li {
    margin: 1.5rem 0;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

/* Open hamburger menu styles */
#hamburger-menu.open {
    display: initial;
}

/* Main content styles */
main {
    width: 1000px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Responsive design adjustments */
@media screen and (max-width: calc(1000px + 4rem)) {
    main {
        width: 100%;
        position: static;
        transform: none;
    }
    body {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 600px) {
    header #hamburger-icon {
        display: initial;
    }
    header > a.auth-link {
        display: none;
    }
}

@media screen and (max-width: 490px) {
    header h1 {
        font-size: 1.7rem;
    }
    header img {
        height: 36px;
    }
}
