body {
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    align-items: center;
    h2 {
        margin-right: auto;
    }
    a.auth-link {
        margin-left: 1rem;
    }
}

section.main-content {
    width: 1000px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

section.catalog {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 2rem;
    row-gap: 2rem;

    article.catalog__book-card {
        display: flex;
        flex-direction: column;
        img {
            width: 100%;
            margin-bottom: auto;
        }
        h4 {
            margin-bottom: 0;
        }
    }
}


