table {
    border-collapse: collapse;
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    overflow-x:auto;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
    a {
        color: #000;
    }
}

fieldset {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    border: none;
    padding: 0;
}

@media screen and (max-width: calc(600px + 4rem)) {
    fieldset {
        display: initial;
    }
}

@media screen and (max-width: calc(600px + 4rem)) {
    body {
        margin: 0 2rem;
    }
    body main {
        width: 100%;
        position: initial;
        transform: none;
        padding: 0;

        fieldset {
            width: 100%;
            div input {
                width: 100%;
            }
        }

    }
}

main {
    width: 600px;
}

section.history {
    position: absolute;
}

td.history__entry__state { font-weight: bold; }
td.history__entry__state--due { color: orange; }
td.history__entry__state--late { color: darkred; }
td.history__entry__state--returned { color: forestgreen; }
